::-webkit-scrollbar {
    width: 30px;
    border: 3px goldenrod solid;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    width: 20px;
    border: 1px gold solid;
    background: gold;   
    border-radius: 10px;
}
.sources {
    display: flex;

    flex-wrap: wrap;
    width: 100%;
    max-height: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
    background: none;
    border: 2px solid goldenrod;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: gold;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
