body {
    color: #fff;
    background: #222222;
    font-family: sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    color: #222222;
    font-weight: 800;
    text-align: center;
    margin: 0 1rem 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gold;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
    margin-bottom: 100px;
}
.footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__git {
    width: 33%;
    height: 50px;
    background: url(../public/img/git.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer__rss {
    width: 33%;
    height: 100px;
    background: url(../public/img/RS.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer__text {
    width: 33%;
    text-align: center;
    color: gold;
}
