html {
    scroll-behavior: smooth;
}
/*{
    border: 1px solid red;
}*/
body {
    max-width: 1440px;
    background-color: #E1D4C9;
    margin: 0 auto;
    font-family: 'Inter';
}
a {
    text-decoration: none;
}
p {
    margin: 0;
    font-size: 16px;
    font-weight: 600px;
    line-height: 1.5;
    color: #403F3D;
}
.text-accent {
    color: #B0907A;
    font-style: italic;
    line-height: 1.5;
}
.header {
    padding: 20px 0;
}
.header-content {
    max-width: 1440px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 40px;
}
.header-logo {
    margin: 20px 0 0;
    border-style: none;
}
.burger-menu {
    display: none;
}
.nav-menu {
    display: flex;
    gap: 40px;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-item {
    list-style: none;
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #403F3D;
    display: inline-block;
    cursor: pointer;
    flex-direction: column;
}
.nav-menu a {
    color: #403F3D;
}
.header-hover-line {
    height: 2px;
    width: 0px;
    opacity: 0;
    background-color:#403F3D;
    transition: 1s;
}

.coffee-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    cursor: pointer;
}
.coffee-menu a {
    color: #403F3D;
    list-style: none;
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.nav-item:hover .header-hover-line,
.coffee-menu:hover .header-hover-line {
    opacity: 1;
    width: 100%;
}
h1 {
    width: 800px;
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0.6px;
    text-align: center;
    color:#403F3D;
    margin: 0;
}
h2 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
    color: #403F3D;
    margin: 0;
}

h3 {
    
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: start;
    color: #403F3D;
    margin: 0;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}
.menu-offer {
    margin: 0 auto;
}
.menu-tabs {
    display: flex;
    gap:16px;
    margin: 40px 0;
}
.tab-item {
    border-radius: 100px;
    gap: 8px;
    background-color: transparent;
    border: 1px solid #C1B6AD;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    cursor: pointer;
    padding:8px, 16px, 8px, 8px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 8px;
}
.tab-item:hover {
    background-color: #665F55;
}
.tab-item:hover .tab-img {
    background: #E1D4C9;
}
.active{
    background-color: #665F55;
    cursor:default;
}
.tab-img {
    display: flex;
    border-radius: 100px;
}
.tab-item p{
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
}
.menu-grid {
    width: 1360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
}
.cup {
    height: 506px;
    width: 310px;
    border-radius: 40px;
    border: 1px solid #C1B6AD;
    cursor: pointer;
}
.cup-img {
    width: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
}
.cup-img img {
    display: block;
    transform: scale(1.1);
    transition: 1s;
}
.cup:hover img {
    transform: scale(1);
}
.cup-desc {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
}
.cup-desc p {
    height: 72px;
    font-weight: 400;
}
.contacts {
    margin: 40px 40px;
    max-width: 1440px;
    gap: 100px;
    padding: 100px;
    border-radius: 40px;
    background-color: #665F55;
    display: flex;
    align-items: center;
}
.contacts-offer {
    max-width: 530px;
}
.contacts-offer-title {
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
    color: #E1D4C9;
}
.socials {
    margin: 40px 0 0;
    gap: 12px;
    display: flex;
}
.socials-logo {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.socials-logo:hover {
    background-color: #E1D4C9;
}
.socials-logo:hover svg path {
    stroke:#403F3D
}
.contacts-info {
    max-width: 530px;
}
.contacts-info-title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #E1D4C9;
    margin: 0;
}
.contacts-list {
    gap: 20px;
    margin:40px 0 0;
    display: flex;
    flex-direction: column;
}
.link-item a {
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: #E1D4C9;
}
.link-item p {
    color: #E1D4C9;
}
.footer-hover-line {
    height: 2px;
    width: 0;
    opacity:0;
    transition: 1s;
    background-color: #E1D4C9;
}
.link-item:hover .footer-hover-line {
    width: 100%;
    opacity:1;
}
@media screen and (max-width:1439px){
    .nav-menu, .coffee-menu{
        display: none;
    }
    .burger-menu {
        width: 44px;
        height: 44px;
        border-radius: 100px;
        border: 1px solid #665F55;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
    .burger-line {
        width: 16px;
        height: 2px;
        position: relative;
        background: #403F3D;
    }
    h1 {
        width: auto;
    }
    .menu-grid {
        width: auto;
        justify-content: center;
    }
    .menu-grid .cup {
        display: none;
    }
    .menu-grid .cup:nth-child(-n+4){
        display: block ;
    }
    .menu-refresh {
        width: 60px;
        height: 60px;
        border: 1px solid #665F55;
        border-radius: 100px;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .contacts {
        flex-direction: column;
        align-items: flex-start;
    }
}
@media screen and (max-width:767px){
    .nav-menu, .coffee-menu{
        display: none;
    }
    .menu {
        width: auto;
    }
    h1 {
        width: auto;
    }

    
}
@media screen and (max-width:380px){
    .nav-menu, .coffee-menu{
        display: none;
    }
    .mobile-app {
        flex-direction: column;
    }
    .about-images{
        flex-direction: column;
    }
    .about-image-box-small {
        display: none;
    }
    .about-image-box-big img {
        border-radius: 20px;
    }
}