body {
  font-family: 'Belanosima', sans-serif;
  background-color: beige;
}
.page-wrap {
  display: flex;
  margin: auto;
  padding: 0.5rem;
  max-width: 1080px;
  background-color: bisque;
  flex-direction: column;
}
.header {
  display: flex;
  max-width: 100%;
  justify-content: center;
  background-color: #1e4828;
  border-radius: 10px;
  margin-bottom: 10px;
  border-width: 5px;
  border-style: ridge;
  border-color: #b87b1e;
  border-radius: 10px;
  align-items: center;
}
.github {
  margin: 0;
  width: 48px;
  height: 48px;
}
.title {
  font-family: 'Belanosima', sans-serif;
  color: #f8f7ea;
}
.board-block {
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  gap: 1rem;
}
.pic-block {
  display: flex;
  width: 49%;
}
.img1 {
  width: 100%;
  border-width: 5px;
  border-style: outset;
  border-color: #b87b1e;
  border-radius: 10px;
}
.quiz-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3e754bc5;
  border-radius: 10px;
  padding: 10px 10px;
  gap: 2rem;
  width: 49%;
  border-width: 5px;
  border-style: inset;
  border-color: #b87b1e;
  border-radius: 10px;
}
.word-block {
  display: flex;
  text-align: center;
  color: #f8f7ea;
  font-size: 2.5rem;
  padding: 1rem;
  background-color: #1e4828;
  border-width: 5px;
  border-style: inset;
  border-color: #b87b1e;
  border-radius: 10px;

}
.def-block {
  display: flex;
  text-align: center;
  color: #f8f7ea;
  background-color: #1e4828;
  padding: 1rem;
  border-width: 5px;
  border-style: inset;
  border-color: #b87b1e;
  border-radius: 10px;
  font-size: 1.5rem;
}
.fails-block {
  display: flex;
  text-align: center;
  color: #f8f7ea;
  font-size: 1.5rem;
  background-color: #1e4828;
  padding: 0.5rem;
  border-width: 5px;
  border-style: inset;
  border-color: #b87b1e;
  border-radius: 10px;
}
.keyboard-block {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  background-color: #3e754bc5;
  padding: 0.5rem;
  border-width: 5px;
  border-style: ridge;
  border-color: #b87b1e;
  border-radius: 10px;
  
}
.key {
  background-color: #1e4828;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
  font-size: 2rem;
  color: #f8f7ea;
  text-align: center;
  cursor: pointer;
  border-width: 5px;
  border-style: ridge;
  border-color: #b87b1e;
  border-radius: 10px;
}
.key:hover {
  color:#b87b1e;
  transition: 0.2s;
}
.chosen {
  background-color: red;
  cursor: default;
}

.modal-over {
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(94,94,101,0.9);
  height: 100vh;
  inset: 0;
}
.modal-block {
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 25rem;
  background-color: bisque;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 0.5rem;
  gap: 0.5rem;
}
.modal-text {
  font-size: 3rem;
  color: rgb(85, 9, 9);
}
.modal-word {
  font-size: 2rem;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: #b87b1e;
}
.modal-button {
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #1e4828;
  color:#f8f7ea;
  cursor: pointer;
  border: 2px #b87b1e ridge;
  transition: 0.5s;
}

.modal-button:hover {
  background-color: #b87b1e;
  border: 2px #1e4828 dotted;
  transition: 0.5s;
}
.visible {
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
}