@media screen and (max-width:1439px){
    .hero-button, .hero-menu, .about-image-box-big,
    .about-image-box-small, .coffee-menu, .mobile-button-link,.socials-logo,.link-item{
        pointer-events: none;
    }
    .hero-container {
        width: auto;
    }
    h1 {
        width: auto;
    }
    .mobile-app {
        flex-direction: column;
    }
    .about-images{
        flex-direction: column;
    }
    .about-image-box-small {
        display: none;
    }
    .about-image-box-big img {
        border-radius: 20px;
    }
    .menu-grid {
        width: auto;
        justify-content: center;
        gap: 40px;
    }
    .menu-grid .cup {
        display: none;
    }
    .menu-grid .cup:nth-child(-n+4){
        display: block ;
    }
    .menu-refresh {
        width: 60px;
        height: 60px;
        border: 1px solid #665F55;
        border-radius: 100px;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .contacts {
        flex-direction: column;
        align-items: flex-start;
    }
}
@media screen and (max-width:960px){
    .hero-offer {
        left: 60px;
    }
    .nav-item:nth-child(4) {
        margin-right: 40px;
    }
}
@media screen and (max-width:767px){
    .hero-title {
        font-size: 42px;
        line-height: 48.3px;
    }
    h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .hero-offer {
        width: auto;
    }
    .hero-menu {
        opacity: 1;
    }
    .header-content, .about, .favorite-coffee, .mobile-app, .contacts  {
        padding: 0 16px;
    }
    .favorite-coffee {
        margin: 100px 0;
    }
    .favorite-coffee-slider {
        justify-content: center;
    }
    .favorite-coffee-arrow {
        display: none;
    }
    .favorite-coffee-row-slider {
        justify-content: center;
    }
    .favorite-coffee-row-slider-slide1 img {
        width: 348px;
        height: 348px;
    }
    .mobile-app {
        gap: 40px;
        align-items: flex-start;
    }
    .mobile-app-title {
        font-size: 32px;
        line-height: 40px;
    }
    .mobile-app-buttons {
        flex-direction: column;
    }
    .mobile-app img {
        width: 100%;
    }
    .contacts {
        margin: 100px 16px 40px;
        padding: 60px 16px;
        gap:40px;
    }
    .contacts-offer, .contacts-info {
        width: auto;
    }
    .contacts-offer-title {
        font-size: 32px;
        line-height: 40px;
    }
}