html {
    scroll-behavior: smooth;
}
/*{
    border: 1px solid red;
}*/
body {
    max-width: 1440px;
    background-color: #E1D4C9;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
    font-size: 16px;
    font-weight: 600px;
    line-height: 1.5;
    color: #403F3D;
}
.text-accent {
    color: #B0907A;
    font-style: italic;
}
.header-content {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 40px;
    margin: 20px 0 20px;
}
.header-logo {
    margin: 20px 0 0;
    border-style: none;
}
.nav-menu {
}
.nav-list {
    display: flex;
    padding: 0;
}
.nav-item {
    color: #403F3D;
    display: inline-block;
    cursor: pointer;
    margin-right: 40px;
}
.nav-item:nth-child(4) {
    margin-right: 366px;
}
.nav-menu a {
    color: #403F3D;
}
.header-hover-line {
    height: 2px;
    width: 0px;
    opacity: 0;
    background-color:#403F3D;
    transition: 1s;
}

.coffee-menu {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    cursor: pointer;
}
.coffee-menu a {
    color: #403F3D;
    text-align: left;
}
.coffee-small {
    display: inline;
}
.coffee-big {
    display: none;
}
.coffee-menu .header-hover-line {
    opacity: 1;
    width: 100%;
}
.nav-item:hover .header-hover-line{
    opacity: 1;
    width: 100%;
}
h1 {
    width: 800px;
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0.6px;
    text-align: center;
    color:#403F3D;
    margin: 0;
}
h2 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
    color: #403F3D;
    margin: 0;
}

h3 {
    
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: start;
    color: #403F3D;
    margin: 0;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}
.menu-offer {
    margin: 0 auto;
}
.menu-tabs {
    display: flex;
    gap:16px;
    margin: 40px 0;
}
.tab-item {
    border-radius: 100px;
    gap: 8px;
    background-color: transparent;
    border: 1px solid #C1B6AD;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    cursor: pointer;
    padding:8px 16px 8px 8px;
}
.tab-item:hover {
    background-color: #665F55;
}
.tab-item:hover .tab-img {
    background: #E1D4C9;
}
.active{
    background-color: #665F55;
    cursor:default;
}
.active p{
    color: #E1D4C9;
}
.tab-img {
    display: flex;
    border-radius: 100px;
}
.tab-item p{
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
}
.modal-backdrop img {
    width: 100%;
    height:100%;
    z-index: 2;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-container {
    margin: 0 auto;
    display: flex;
    background-color: #E1D4C9;
    max-width: 800px;
    border-radius: 40px;
    padding: 16px;
    gap: 20px;
    z-index: 2;
    align-items: flex-start;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


}
.modal-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 458px;
    
}
.modal-title{}
.modal-size{}
.modal-additivies{}
.tab-choice{}
.modal-total{
    display: flex;
    justify-content: space-between;
}
.modal-alert{
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
    gap: 8px;
}
.modal-close{}
.modal-close-button{
    width: 438px;
    height: 44px;
    padding: 10px 78px 10px 78px;
    border-radius: 100px;
    border: 1px solid #665F55;
    gap: 8px;
    background-color: #E1D4C9;
}
.menu-grid {
    width: 1360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
}
.cup {
    height: 506px;
    width: 310px;
    border-radius: 40px;
    border: 1px solid #C1B6AD;
    cursor: pointer;
}
.cup-img {
    width: 310px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
}
.cup-img img {
    display: block;
    transform: scale(1.1);
    transition: 1s;
}
.cup:hover img {
    transform: scale(1);
}
.cup-desc {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
}
.cup-desc p {
    height: 72px;
    font-weight: 400;
}
.menu-refresh {
    width: 60px;
    height: 60px;
    border: 1px solid #665F55;
    border-radius: 100px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.contacts {
    margin: 100px 40px 40px;
    max-width: 1440px;
    gap: 100px;
    padding: 100px;
    border-radius: 40px;
    background-color: #665F55;
    display: flex;
    align-items: center;
}
.contacts-offer {
    max-width: 530px;
}
.contacts-offer-title {
    margin: 0;
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: start;
    color: #E1D4C9;
}
.socials {
    margin: 40px 0 0;
    gap: 12px;
    display: flex;
}
.socials-logo {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.socials-logo:hover {
    background-color: #E1D4C9;
}
.socials-logo:hover svg path {
    stroke:#403F3D
}
.contacts-info {
    max-width: 530px;
}
.contacts-info-title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #E1D4C9;
    margin: 0;
}
.contacts-list {
    gap: 20px;
    margin:40px 0 0;
    display: flex;
    flex-direction: column;
}
.link-item a {
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: #E1D4C9;
}
.link-item p {
    color: #E1D4C9;
}
.footer-hover-line {
    height: 2px;
    width: 0;
    opacity:0;
    transition: 1s;
    background-color: #E1D4C9;
}
.link-item:hover .footer-hover-line {
    width: 100%;
    opacity:1;
}

.hidden {
    display: none;
}
.body-hidden {
    overflow: hidden;
}
.modal-container .menu-tabs {
    margin: 0;
}