@import './../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&family=Lexend+Peta:wght@100..900&display=swap');

html {
  font-family: 'Gudea', sans-serif;
  font-weight: 400;
  font-style: normal;
}
button {
  cursor: pointer;
}
a {
  font-size: medium;
  font-weight: 800;
  transition: 0.5s ease-in-out;
}
a:link,
a:visited {
  color: dimgray;
  text-decoration: none;
}
a:hover,
a:active {
  transition: 0.5s ease-in-out;
  transform: scale(105%);
}
.page-wrap {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: azure;
  background-attachment: fixed;
  background-origin: border-box;
  background-position: center;
  background-size: cover;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 20px;
  gap: 1rem;
}
.firstName,
.password {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 50px;
  margin: 20px;
}
.firstNameLabel,
.passwordLabel {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.firstNameInput,
.passwordInput {
  border-radius: 10px;
  min-width: 12rem;
  height: 3em;
  padding: 0 1rem;
}
.inputError {
  margin-top: 0.1rem;
  font-size: small;
  font-weight: 800;
  color: red;
  transition: ease-in-out 0.5s;
}
.loginBtn,
.aboutBtn,
.backBtn,
.logoutBtn {
  width: 70px;
  height: 40px;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
.loginBtn:hover,
.aboutBtn:hover,
.backBtn:hover,
.logoutBtn:hover {
  background-color: #a0d4ecc5;
  transition: 0.5s ease-in-out;
  transform: scale(95%);
}
.loginBtn:enabled {
  transition: 0.5s ease-in-out;
  transform: scale(105%);
}
.main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header,
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  background-color: aliceblue;
  justify-content: space-around;
  min-width: 700px;
}
.chatwindow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.userlist {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 350px;
  justify-content: flex-start;
  padding: 0.5rem;
  width: 39%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: aliceblue;
  overflow-y: scroll;
  height: 300px;
}
.userlist::-webkit-scrollbar {
  display: none;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}
.userdialogue {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 350px;
  justify-content: flex-start;
  padding: 0.5rem;
  width: 59%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: aliceblue;
  overflow-y: scroll;
  height: 300px;
}
.userdialogue_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid;
  box-sizing: border-box;
  height: 15%;
  justify-content: space-around;
  max-height: 35px;
  width: 100%;
}
.userdialogue_content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  height: 80%;
  gap: 5px;
}
.userdialogue_input {
  display: flex;
  flex-direction: row;
  border-top: 1px solid;
  box-sizing: border-box;
  justify-content: space-between;
  height: 10%;
  padding: 2px;
}
.userdialogue_input_field {
  width: 90%;
}
.userdialogue_input_btn {
  max-width: 100px;
  transition: 0.5s ease-in-out;
}
.userdialogue_input_btn:disabled {
  transform: scale(90%);
}
.userdialogue_input_btn:hover {
  cursor: pointer;
  background-color: #a0d4ecc5;
  transition: 0.5s ease-in-out;
  transform: scale(95%);
}

.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.message {
  background-color: rgb(210 234 255 / 85%);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1%;
  cursor: pointer;
  width: 160px;
  transition: 0.5s ease-in-out;
}
.sent:hover .message {
  background-color: #a0d4ecc5;
  transition: 0.5s ease-in-out;
  transform: scale(95%);
}
.messageText {
  text-align: right;
  background-color: aliceblue;
  width: 100%;
  max-width: 160px;
  text-wrap: wrap;
  overflow-wrap: break-word;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 2% 0 0;
  padding: 3%;
}
.messageStatus {
  text-align: right;
}
.sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.first-unread::before {
  content: '';
  display: flex;
  border-top: 1px solid black;
  margin: 5% 25%;
  width: 50%;
  transform: translateY(-50%);
}
.context-menu {
  position: absolute;
  z-index: 10;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu ul li {
  padding: 8px 15px;
  cursor: pointer;
}

.context-menu ul li:hover {
  background-color: #a0d4ecc5;
  transition: 0.5s ease-in-out;
  transform: scale(95%);
}
.userContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  gap: 15px;
  transition: 0.5s ease-in-out;
}
.userContainer:hover {
  cursor: pointer;
  background-color: #a0d4ecc5;
  transition: 0.5s ease-in-out;
  transform: scale(95%);
}
.user-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.rss {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rss-logo {
  width: 50px;
  height: 50px;
}
