/* * {
  border: 1px solid red;
} */

.main-container {
  display: grid;
  justify-content: center;
}
.matrix {
  display: flex;
  grid-column: 2;
  grid-row: 2;
  border: 1px solid black;
  max-width: fit-content;
  max-height: fit-content;
}
.gram {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}
.black {
  background-color: black;
}
.horHintsPanel {
  grid-column: 1;
  grid-row: 2;
  max-width: fit-content;
  max-height: fit-content;
  border: 1px solid black;
  border-right: none;
}
.vertHintsPanel {
  display: flex;
  grid-column: 2;
  grid-row:1;
  max-width: fit-content;
  max-height: fit-content;
  border: 1px solid black;
  border-bottom: none;
}
.hHintRow {
  display: flex;
  justify-content: flex-end;
  border: 1px solid grey;
}
.vHintRow {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid grey;
}

.hHint , 
.vHint {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}