* {
  padding: 0;
  margin: 0;
}
:root body.light {
  --theme-back: #99e08b;
  --color-primary-200: #55b294;
  --btn-back: #337543;
  --color-primary-400: #83c5ad;
  --p: #d9d9d8;
  --color-primary-600: #add9c8;
  --gram-border: #0c0606f3;
  --body-back: #ecf9e8;
  --wrap-back: #dcf4d5;
  --clues-back: #f0faec;
  --matrix-back: #f0faec;
  --cell-back: #f0faec;
  --clue: #1c1b1b;
}
:root body.dark {
--theme-back: #39a887;
--color-primary-200: #55b294;
--btn-back: #6dbca0;
--color-primary-400: #83c5ad;

--color-primary-600: #add9c8;
--gram-border: #0c0606f3;
--p: #262525;
--body-back: #3b3939;
--wrap-back: #4e4c4c;
--clues-back: #626060;
--matrix-back: #777575;
--cell-back: #b6b3b3;
--clue: #d9d9d8;
}
body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--body-back);
}
.page-wrap {
  margin: auto;
  max-width: 1080px;
  background-color: var(--wrap-back);
  transition: 0.3s;

}
.header {
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
}
.github-mark {
  width: 50px;
  height: 50px;
  fill: var(--cell-back);
}
.title {
  padding: 0.5rem;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-back);
  border-radius: 40px;
  font-weight: 800;
  color:var(--wrap-back);
}
.theme-container {
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--matrix-back);
  border-radius: 50px;
}
.theme-input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.theme-input:checked + .theme-label {
  background-color: #1f1e1ed3;
}
.theme-input:checked + .theme-label:after {
  left:50px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,rgb(73, 72, 72),var(--theme-back));
}

.theme-label {
  width:50px;
  height:20px;
  position: relative;
  display: block;
  background: #ece6e6;
  border-radius: 20px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.63);
  cursor: pointer;
  transition: 0.3s
}
.theme-light {
  position: absolute;
	width: 20px;
  height: 20px;
	fill:#fff;
	transition: 0.3s;
}
.theme-dark {
  position: absolute;
	width: 20px;
  height: 20px;
	fill:#fff;
  left: 30px;
	transition: 0.3s;
}
.theme-input:checked + .theme-img:after {
  left:50px;
  transform: translateX(-100%);
}
.theme-label:after {
  content: "";
  width:18px;
  height: 18px;
  position: absolute;
  top:2px;
  left:2px;
  background: linear-gradient(180deg,#f1b86c,#eb920d);
  border-radius: 18px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  transition: 0.3s
}
.theme-label:active:after {
  width: 26px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pictures-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.level-id-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.picture-level-panel {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  width: 33rem;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--matrix-back);
}
.picture-level-id {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-back);
  border-radius: 50px;
  color: var(--p);
}
.picture-name {
  padding: 2px;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-back);
  border-radius: 40px;
  width: 4rem;
  font-weight: 800;
  color:var(--wrap-back);
}
.picture-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.picture-img {
  width: 50px;
  height: 50px;
}
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.matrix-name {
  padding: 0.5rem;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-back);
  border-radius: 40px;
  font-size: 1.5rem;
  font-weight: 800;
  color:var(--wrap-back);
}
.stop-watch-container {
  margin: 0.3rem 0 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: bold;
  font-size: 2rem;
  color: var(--clue);
}
.matrix-container {
  display: grid;
  justify-content: center;
  padding: 2rem;
  background-color: var(--matrix-back);
  border-radius: 50px;
}

.matrix {
  display: grid;
  background-color: var(--matrix-back);
  grid-column: 2;
  grid-row: 2;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
}

.row {
  display: grid;
  grid-auto-flow: column;
  border-bottom: 2px var(--gram-border) solid;
  grid-auto-rows: 1fr;
}
.row:first-child {
  border-top: 4px var(--gram-border) solid;
}
.row:nth-child(5n+5) {
  border-bottom: 4px var(--gram-border) solid;
}
.gram {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--gram-border);
}
.gram:first-child {
  border-left: 4px solid var(--gram-border);
}
.gram:nth-child(5n+5) {
  border-right: 4px solid var(--gram-border);
}
.black {
  background-color: var(--cell-back);
}
.cross {
  background-image: url("/assets/icons/cross.svg");
  background-size: cover;
}
.horHintsPanel {
  display: grid;
  grid-auto-flow: row;
  background-color: var(--clues-back);
  grid-column: 1;
  grid-row: 2;
  grid-auto-rows: 1fr;
}
.hHintRow:first-child{
  border-top: 4px solid var(--gram-border);
}
.hHintRow:nth-child(5n+5){
  border-bottom: 4px solid var(--gram-border);
}
.hHintRow {
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid var(--gram-border);
}
.vertHintsPanel {
  display: grid;
  grid-auto-flow: column;
  background-color: var(--clues-back);
  grid-column: 2;
  grid-row:1;
  grid-auto-rows: 1fr;
}
.vHintRow:first-child {
  border-left: 4px solid var(--gram-border);
}
.vHintRow:nth-child(5n+5) {
  border-right: 4px solid var(--gram-border);
}

.vHintRow {
  display: flex;
  flex-direction: column-reverse;
  border-right: 2px solid var(--gram-border);
}

.hHint , 
.vHint {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: bold;
  font-weight: 600;
  color:var(--clue);
}
.settings-container {
  margin: 1rem 0 0.5rem;
  padding: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--matrix-back);
  border-radius: 50px;
}
.reset-button,
.resume-button,
.save-button,
.random-button,
.solution-button,
.winners-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-back);
  border-radius: 40px;
  padding: 5px;
  width: 7rem;
  font-weight: 800;
  color:var(--p);
}
.reset-button:hover,
.resume-button:hover,
.save-button:hover,
.random-button:hover,
.solution-button:hover,
.winners-button:hover {
  box-shadow: 0 5px 0px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
  transform: scale(93%);
}