@import './../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&family=Lexend+Peta:wght@100..900&display=swap');

html {
  font-family: 'Gudea', sans-serif;
  font-weight: 400;
  font-style: normal;
}
button {
  cursor: pointer;
}
.page-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../public/background.jpg);
  background-attachment: fixed;
  background-origin: border-box;
  background-position: center;
  background-size: cover;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(193, 200, 206, 0.853);
  border-radius: 20px;
}
.firstName,
.lastName {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 50px;
  margin: 20px;
}
.firstNameLabel,
.lastNameLabel {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.firstNameInput,
.lastNameInput {
  border-radius: 10px;
  min-width: 12rem;
  height: 3em;
  padding: 0 1rem;
}
.inputError {
  margin-top: 0.1rem;
  font-size: small;
  font-weight: 800;
  color: red;
}
.loginBtn {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
.loginBtn:enabled {
  transition: 0.5s ease-in-out;
  transform: scale(105%);
}
.logout-btn {
  border-radius: 20px;
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: 0.5s ease-in-out;
  font-weight: 800;
}
.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 40rem;
  background-color: rgba(193, 200, 206, 0.853);
  border-radius: 20px;
  padding: 2rem;
}
.start-greeting {
  border-bottom: 3px solid rgba(223, 111, 144, 0.767);
  font-style: italic;
}
.start-welcome {
  font-size: 1.5rem;
  font-weight: 700;
}
.start-description {
  font-size: 1.1rem;
  text-align: center;
}
.start-btn {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  font-weight: 800;
}
.start-btn:hover,
.logout-btn:hover {
  transition: 0.5s ease-in-out;
  transform: scale(115%);
  color: rgba(250, 104, 148, 0.884);
}
.game-page {
  display: flex;
  justify-content: center;
  width: 70%;
  min-height: 70vh;
  background-color: rgba(193, 200, 206, 0.853);
  border-radius: 20px;
}
